.home{
    /* display: flex; */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.home__row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.home__image{
    width: 100%;
    z-index: -1;
    margin-bottom: -80px;
    mask-image: linear-gradient(to bottom, rgba(48, 48, 48, 1), rgba(48, 48, 48, 0));
    height: 300px;
}

.home__infor{
    display: flex;
    justify-content: space-around;
    background-color: #303030;
    height: 400px;
    padding-top: 25px;
}

.home__infor__text{
    text-align: center;
    color: white;
    padding: 15px;
    line-height: 1.3rem;
    margin-bottom: 15px;
}

.home__infor__text h1{
    margin-top: 15px;
    margin-bottom: 25px;
}

.home__infor__text button{
    background-color: #159be4;
    color: white;
    border: none;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.home__infor__image{
    padding-top: 25px;
    padding-right: 20px;
}

.home__infor__image img{
    width: 500px;
    height: 290px;
}



@media screen and (max-width: 469px) {
   .home__image{
    height: 100px;
   }
   .home__container{
    height: 510px;
    background-color: #303030;
    }
   .home__infor{
       height: 500px;
   }
   .home__infor{
    display: block;
    flex-direction: row;
    height: 400px;
    padding-top: 25px;
   }
   .home__infor__text{
       width: 90%;
   }
   .home__infor__text h1{
       font-size: 23px;
   }
   .home__infor__text p{
       font-size: 9px;
       line-height: 1.1rem;
   }
   .home__infor__image{
       width: 100%;
       padding-left: 12px;
   }
   .home__infor__image img{
       width: 90%;
       height: 120px;
   }
  }


  @media screen and (max-width: 679px) {
    .home__image{
     height: 100px;
    }
    .home__container{
     height: 510px;
     background-color: #303030;
     }
    .home__infor{
        height: 500px;
    }
    .home__infor{
     display: block;
     flex-direction: row;
     height: 400px;
     padding-top: 25px;
    }
    .home__infor__text{
        width: 90%;
    }
    .home__infor__text h1{
        font-size: 23px;
    }
    .home__infor__text p{
        font-size: 9px;
        line-height: 1.1rem;
    }
    .home__infor__image{
        width: 100%;
        padding-left: 12px;
        margin: auto;
    }
    .home__infor__image img{
        width: 40%;
        height: 120px;
    }
   }

   @media screen and (max-width: 811px) {
        .home__infor__text h1{
            font-size: 20px;
        }
        .home__infor__text p{
            font-size: 10px;
            line-height: 1.1rem;
        }
        .home__infor__image img{
            width: 63%;
            /* height: 200px; */
            height: 200px;
            margin-left: 20px;
        }
   }