* {
    margin: 0;
    padding: 0;
    font-family: arial;
    width: 100%;
}

body{
    /* background: rgb(234, 237, 237); */
    background-color: white;
    margin: 0;
    width: 100%;
    /* font-family: -apple-system, 'Segeo UI', 'Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans', 'Helvetica Neue','sans-serif';
    -webkit-font-smothing: antialiased;
    -moz-osx-font-smothing: antialiased; */
}

a{
    text-decoration: none;
}

html{
    width: 1fr;
}